<div>
    <nav>
        <a [routerLink]="['/login']" >login</a><br>
        <a [routerLink]="['/sign-up']" >sign-up</a><br>
        <a [routerLink]="['/home']" >home</a><br>
        <a [routerLink]="['/personal-information']" >personal info</a><br>
        <a [routerLink]="['/share-ticket']" >prestar boleto</a><br>
        <a [routerLink]="['/history']" >hitorial</a><br>
        <a [routerLink]="['/balance-management']" >gestion de saldo</a><br>
        
    </nav>
</div>
<router-outlet></router-outlet>

