<body class="u-body u-xl-mode" data-lang="es">

  <!-- <header class="u-black u-clearfix u-header u-header" id="sec-049f"><div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1"></div></header> -->
  
  
    <section class="u-clearfix u-container-align-center-xs u-image u-section-1" id="sec-1a9f" data-image-width="301" data-image-height="167">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center-xs u-custom-font u-font-montserrat u-text u-text-default-xs u-text-1">UTN SUBD<span style="font-weight: 700;"></span>
        </h1>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-80cc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-absolute-hcenter-xs u-expanded u-form">
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
            <div class="u-form-email u-form-group">
              <label for="email-272c" class="u-label"> Email</label>
              <input formControlName="userEmail" type="email" placeholder="Introduzca una dirección de correo electrónico válida" id="email-272c" name="email" class="u-input u-input-rectangle u-palette-1-light-3 u-radius-8">
            </div>
            <div class="u-form-group u-form-name">
              <label for="name-272c" class="u-label">Contraseña</label>
              <input formControlName="password" type="password" placeholder="Introduzca su Contraseña" id="name-272c" name="name" class="u-input u-input-rectangle u-palette-1-light-3 u-radius-8">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <button type="submit" class="u-btn u-btn-round u-btn-submit u-button-style u-custom-font u-font-montserrat u-radius-8 u-btn-1">Entrar</button>
              <!-- <input type="submit" value="submit" class="u-form-control-hidden"> -->
            </div>
            <!-- <div class="u-form-send-message u-form-send-success"> Gracias! Tu mensaje ha sido enviado. </div>
            <div class="u-form-send-error u-form-send-message"> No se puede enviar su mensaje. Por favor, corrija los errores y vuelva a intentarlo. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="59d33d649f003038bc93380d4216e3af"> -->
          </form>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-817d">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <p class="u-align-center-xs u-text u-text-1"> Todavia no se ha registrado?</p>
        <a [routerLink]="['/sign-up']" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1">Puede hacerlo aqui :)</a>
      </div>
    </section>
    
    
    <!-- <footer class="u-align-center u-clearfix u-footer u-footer" id="sec-87c0"><div class="u-clearfix u-sheet u-sheet-1"></div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section> -->
  
</body>